<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Rent Bike</title>
		<link rel="stylesheet" type="text/css" href="../../css/style.css"/>
		<link rel="stylesheet" type="text/css" href="../../bootstrap-3.3.7/css/bootstrap.min.css"/>
		<script type="text/javascript" src="../../js/jquery-3.1.1.js"></script>
		<script type="text/javascript" src="../../js/script.js"></script>
		<script type="text/javascript" src="../../bootstrap-3.3.7/js/bootstrap.js"></script>
	</head>
	<body onload="listBikes()">
				<div class="init">
			<div class="content-logo">
				<a href="../../index.html"><img src="../../images/logo.png" width="260px"></a>
			</div>
			<div class="content-menu">
				<ul class="menu">
					<li class="item"><a href="../../index.html">Inicio</a></li>
					<li class="item"><a href="user.html">Usuarios</a></li>
					<li class="item"><a href="bike.html">Bicicletas</a></li>
					<li class="item"><a href="reserve.html">Reservas</a></li>
					<li class="item"><a href="rentadmin.html">Rentas</a></li>
					<li class="item"><a href="../../student.html">Alumno</a></li>
				</ul>
			</div>
		</div>
		<div id="content" class="content">
			<div class="toolbar">
				<!-- Button trigger modal -->
				<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalBike">
				  Nuevo
				</button>
				<form class="form-search">
					<div class="form-group">
						<input type="sbike" class="form-control" id="sbike" placeholder="Busqueda">
					</div>
				</form>
				<button type="button" class="btn btn-default" onclick="searchBike()">
					<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
				</button>
				<button type="button" class="btn btn-default" onclick="clearBike()">
					<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
				</button>
			</div>

			<!-- Modal -->
			<div class="modal fade" id="modalBike" tabindex="-1" role="dialog" aria-labelledby="modalBikeLabel">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        <h4 class="modal-title" id="modalBikeLabel">Nueva bicicleta</h4>
			      </div>
			      <div class="modal-body">
			        <form id="form-user">
			        	<div class="form-group">
							<label for="code">Código</label>
							<input type="code" class="form-control" id="code" placeholder="Código">
						</div>
						<div class="form-group">
							<label for="description">Descripcion</label>
							<textarea id="description" class="form-control"></textarea>
						</div>	
						<div class="form-group">
							<label for="state">Estado</label>
							<select id="state">
								<option value="DISPONIBLE">Disponible</option>
								<option value="MATENIMIENTO">Mantenimiento</option>
								<option value="ALQUILADA">Alquilada</option>
							</select>
						</div>
			        </form>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
			        <button type="button" class="btn btn-primary" onclick="addBike()">Guardar</button>
			      </div>
			    </div>
			  </div>
			</div>

			<table id="table-list-bikes" class="table table-bordered table-hover">
				<tr id= "thead">
					<th>Id</th>
					<th>Código</th>
					<th>Descripción</th>
					<th>Estado</th>
				</tr>
			</table>

		</div>
	</body>
	<script type="text/javascript">
		$('#modalBike').on('shown.bs.modal', function () {
		  //$('#myInput').focus()
		});
	</script>
</html>