<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Rent Bike</title>
		<link rel="stylesheet" type="text/css" href="../../css/style.css"/>
		<link rel="stylesheet" type="text/css" href="../../bootstrap-3.3.7/css/bootstrap.min.css"/>
		<script type="text/javascript" src="../../js/jquery-3.1.1.js"></script>
		<script type="text/javascript" src="../../js/script.js"></script>
		<script type="text/javascript" src="../../bootstrap-3.3.7/js/bootstrap.js"></script>
	</head>
	<body onload="listReserves()">
		<div class="init">
			<div class="content-logo">
				<a href="../../index.html"><img src="../../images/logo.png" width="260px"></a>
			</div>
			<div class="content-menu">
				<ul class="menu">
					<li class="item"><a href="../../index.html">Inicio</a></li>
					<li class="item"><a href="user.html">Usuarios</a></li>
					<li class="item"><a href="bike.html">Bicicletas</a></li>
					<li class="item"><a href="reserve.html">Reservas</a></li>
					<li class="item"><a href="rentadmin.html">Rentas</a></li>
					<li class="item"><a href="../../student.html">Alumno</a></li>
				</ul>
			</div>
		</div>
		<div id="content" class="content">
			<div class="toolbar">
				<form class="form-search">
					<div class="form-group">
						<input type="text" class="form-control" id="sreserve" placeholder="Busqueda">
					</div>
				</form>
				<button type="button" class="btn btn-default" onclick="searchReserve()">
					<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
				</button>
				<button type="button" class="btn btn-default" onclick="clearReserve()">
					<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
				</button>
			</div>

			<table id="table-list-reserves" class="table table-bordered table-hover">
				<tr id="thead">
					<th>Id</th>
					<th>Nombre</th>
					<th>Apellido</th>
					<th>Identificación</th>
					<th>Email</th>
					<th>Celular</th>
					<th>Fecha</th>
					<th>Hora inicio</th>
					<th>Hora fin</th>
				</tr>
			</table>

		</div>
	</body>
</html>